/* You can add global styles to this file, and also import other style files */


@use '~@angular/material/theming' as material;
//we are importing it here because we need access to theme
//which will not be available in component
//scss file
@use './app/banner/banner-component.scss-theme.scss' as banner;

//for implementing dark theme at app component level
@use './app/app.component.scss-theme.scss' as root;

//built in function
@use 'sass:map';


//OUR OWN TYPOGRPAHY CHANGES
$workshop-typography: material.mat-typography-config(
    $font-family: "'Open Sans', sans-serif;",
    
    $display-4: material.mat-typography-level(95px, 95px, 300, $letter-spacing: -0.05em),
);
//if a font like 'open sans' is used include it in index.html file also
//font-size:95px,line-height:95px,font-weight:300
//  $display-4: material.mat-typography-level(95px, 95px, 300,'Roboto', $letter-spacing: -0.05em),
//font family can also be provided

//OUR OWN TYPOGRPAHY CHANGES

//@include material.mat-core($workshop-typography);
//typography can be included like above and also like in colors as below
//in $workshop-theme:
@include material.mat-core();

$workshop-primary: material.mat-palette(material.$mat-cyan);
// $workshop-accent: material.mat-palette(material.$mat-pink);
$workshop-accent: material.mat-palette(material.$mat-pink, A200, A100, A400);
// we are providing default,lighter,darker values from pallette ourselves
// the default is 500,200,800

//EXTRA COLORS
//success and info are our custom colors
//they are not originally in material theme design
$workshop-success: material.mat-palette(material.$mat-green);
$workshop-info: material.mat-palette(material.$mat-blue);




$workshop-theme:  material.mat-dark-theme(
    (color:(
        primary: $workshop-primary,
        accent:$workshop-accent
    ),
    typography: $workshop-typography
    )
);
//@debug $workshop-theme;

$workshop-theme: map.deep-merge($workshop-theme,(
success:$workshop-success,
info:$workshop-info,
color:(
    success: $workshop-success,
    info: $workshop-info
)
));

@include material.angular-material-theme($workshop-theme);
//also remove prebuilt theme from angular.json file

//for custom component theme
@include banner.app-banner-theme($workshop-theme);
//for changing app-background in dark mode
@include banner.app-root-theme($workshop-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
