/* You can add global styles to this file, and also import other style files */


@use '~@angular/material/theming' as material;
//we are importing it here because we need access to theme
//which will not be available in component
//scss file
@use './app/banner/banner-component.scss-theme.scss' as banner;

//built in function
@use 'sass:map';

@include material.mat-core();

$workshop-primary: material.mat-palette(material.$mat-cyan);
// $workshop-accent: material.mat-palette(material.$mat-pink);
$workshop-accent: material.mat-palette(material.$mat-pink, A200, A100, A400);
// we are providing default,lighter,darker values from pallette ourselves
// the default is 500,200,800

//EXTRA COLORS
//success and info are our custom colors
//they are not originally in material theme design
$workshop-success: material.mat-palette(material.$mat-green);
$workshop-info: material.mat-palette(material.$mat-blue);




$workshop-theme:  material.mat-light-theme(
    (color:(
        primary: $workshop-primary,
        accent:$workshop-accent
    ))
);
//@debug $workshop-theme;

$workshop-theme: map.deep-merge($workshop-theme,(
success:$workshop-success,
info:$workshop-info,
color:(
    success: $workshop-success,
    info: $workshop-info
)
));

@include material.angular-material-theme($workshop-theme);
//also remove prebuilt theme from angular.json file

//for custom component theme
@include banner.app-banner-theme($workshop-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
